html {
  margin: 0;
  padding: 0;
}

body {
  font: 85% ariel, sans-serif;
  line-height: 1.88889;
  color: #333530;
  margin: 0 30px;
  padding: 0;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgb(238, 174, 202) 0%, rgb(173, 233, 148) 100%);
}

.page-wrapper {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 5px;
  padding: 26px;
}

p {
  margin-top: 0;
  text-align: justify;
}

h3 {
  font: italic normal 2em 'Trebuchet MS', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 0;
  color: rgb(21, 181, 114);
}

h2 {
  color: white;
  font: bold 2.3em Georgia, sans-serif;
  margin-top: auto;
 
}

a:link {
  font-weight: bold;
  text-decoration: none;
  color: #cfb9ff;
}

a:visited {
  font-weight: bold;
  text-decoration: none;
  color: #D4CDDC;
}

a:hover, a:focus, a:active {
  text-decoration: underline;
  color: #d3c6f0;
}

abbr {
  border-bottom: none;
}

.intro {
  max-width: 500px;
  width: 100%;
}

header h1 {
  background: transparent url(./Img/garden.jpg) no-repeat top left;
  margin-top: 10px;
  display: block;
  width: 219px;
  height: 87px;
  float: left;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

header {
  padding-top: 20px;
  height: 87px;
}

.summary {
  clear: both;
  margin: 20px 20px 20px 10px;
  width: 160px;
  float: left;
}

.summary p {
  font: italic 1.1em/2.2 georgia;
  text-align: center;
}

.preamble {
  clear: right;
  padding: 0px 10px 0 10px;
}

.supporting {
  padding-left: 10px;
  margin-bottom: 40px;
}

footer {
  text-align: center;
}

footer a:link, footer a:visited {
  margin-right: 20px;
}

.sidebar {
  position: absolute;
  top: -40px;
  right: 50px;
  width: 500px;
}

.sidebar .wrapper {
  margin-top: 100px;
}

.sidebar h3.select {
  background: transparent url(http://csszengarden.com/001/h3.gif) no-repeat top left;
  margin: 10px 0 5px 0;
  width: 97px;
  height: 16px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.sidebar h3.archives {
  background: transparent url(http://csszengarden.com/001/h5.gif) no-repeat top left;
  margin: 25px 0 5px 0;
  width: 57px;
  height: 14px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.sidebar h3.resources {
  background: transparent url(http://csszengarden.com/001/h6.gif) no-repeat top left;
  margin: 25px 0 5px 0;
  width: 63px;
  height: 10px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.sidebar ul {
  margin: 0;
  padding: 0;
}

.sidebar li {
  line-height: 1.3em;
  background: transparent url(http://csszengarden.com/001/cr1.gif) no-repeat top center;
  display: block;
  padding-top: 5px;
  margin-bottom: 5px;
  list-style-type: none;
}

.sidebar li a:link {
  color: rgb(255, 102, 102);
}

.sidebar li a:visited {
  color: rgb(255, 102, 102);
}

.extra1 {
  background: transparent url(http://csszengarden.com/001/cr2.gif) top left no-repeat;
  position: absolute;
  top: 40px;
  right: 0;
  width: 148px;
  height: 110px;
}

/*# sourceMappingURL=styles.css.map */
